//banner
    //背景放圖片技巧
.banner {
    @include bg-img (840px);
    background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner.png?raw=true);
    .banner-wrap {
        height: 840px;
    }
}
//用專業的心，做專業的事
    //共四塊card，每塊23%版面
.service {    
    .service-item {
        width: 23%;
        //每塊card裡的圖片，處理圖片的外容器，置中
        .service-item-img {
            @include img-middle (100px, 100px);
            margin: 0 auto 16px;
        }
        //蓋過text-align-center 讓文字置左
        p {
            text-align: left;
        }
    }
}
    //平板rwd
@include pad {
    //改變padding
    .service {
        padding-top: 40px;
        padding-bottom: 56px;
        justify-content: space-around;
        //兩card一排，只要第一排有mb
        .service-item {
            width: 40%;
            &:nth-child(-n+2){
                margin-bottom: 32px;
            }            
        }       
    }
}
    //手機rwd
@include phone {
    //改變padding
    .service {
        padding-top: 32px;
        padding-bottom: 40px;
        //每排只有一個card，只要前三排有mb
        .service-item {
            width: 100%;
            &:nth-child(-n+3) {
                margin-bottom: 32px;
            }                       
        }
    }
}
// 經典系列鏡框
    //處理li排版
.classical-item {
    .classical-img {
        width: 57.2%;
        height: auto;
    }
}
    //處理文字
.classical-text {
    //處理icon外容器
    .classical-icon {
        @include img-middle(44px, 44px);
    }
    p {
        font-family: $font-en;
        font-style: italic;
        font-size: $font-size-3xl;
        font-weight: 900;
        color: $secondary;
    }
}
    //平板rwd
@include pad { 
    //padding改變
    .classical {
        padding-top: 40px;
        padding-bottom: 56px;
    } 
    //處理li排版和margin  
    .classical-list li {
        //前兩排有mb
        &:nth-child(-n+2) {
            margin-bottom: 8px;
        }
        //對調sunglasses字和圖片的位置
        &:nth-child(2) {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;    
            .classical-text {
                margin: 0;
            }
        }
        .classical-img {
            margin-right: 30px;
        }
    }
    //處理icon外容器
    .classical-text {
        .classical-icon {
            @include img-middle(40px, 40px);
        }
    //平板文字尺吋
        p {
            font-size: $font-size-2xl;            
        }
     }
}
    //手機rwd
@include phone {
    //改變padding
    .classical {
        padding-top: 32px;
        padding-bottom: 40px;        
    }    
    .classical-list li {
        //文字在圖片中間技巧     
        position: relative;
        .classical-img { //圖片滿版
            width: 80%;
            height: auto;
            margin:0 auto; //圖片置中
        }
        //文字在圖片中間技巧
        .classical-text {            
            @include text-middle-in-img;
            //處理icon外容器
            .classical-icon {
                @include img-middle(40px, 40px);
            }
            p {
                font-size: $font-size-2xl;               
            }
         }          
    }    
}
//聯名設計鏡框
.co-brand {
    @include bg-img (auto);
    background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/bg.png?raw=true);
    .h3 {
        color: #ffffff;
    }
}
.co-brand-item {
    // 兩card一排
    width: 48%;
    //背景變白
    background: rgba(231, 228, 228, 90%);    
    //文字置於圖片中
    position: relative;
    .co-brand-text {
        @include text-middle-in-img;
        font-size: $font-size-7xl;
        color: $secondary;
        font-weight: bold;
    }    
}
    //平板rwd
@include pad {
    //padding改變
    .co-brand {
        padding-top: 40px;
        padding-bottom: 56px;
        //h3 margin
        .h3 {
            margin-bottom: 32px;
        }
    }
    .co-brand-item {
        //文字大小rwd        
        .co-brand-text {            
            font-size: $font-size-3xl;            
            font-weight: bold;
        }    
    }
}
//手機rwd
@include phone {
    //padding改變
    .co-brand {
        padding-top: 32px;
        padding-bottom: 40px;
        //h3 margin  
        .h3 {
            margin-bottom: 20px;
        }      
    }
    .co-brand-item {
        // 單card一排
        width: 100%;           
    }
}
//顧客推薦
.recommend-item {
    //4 card一排
    width: 23%;
    //img的外容器100%適應最外層的card寬度 .recommend-item>.recommend-img>img
    .recommend-img {
        img {
            width: 100%;               
        }
    }    
    //card border陰影
    @include card-shadow;    
    .recommend-body {
        //text padding
        padding: 16px;
        //日期字體灰色、小
        .recommend-date {
            font-family: $font-tw;
            font-size: $font-size-sm;
            color: $lighter-text;
        }
    }
}
    //pad rwd
@include pad {
    //padding改變
    .recommend {
        padding-top: 40px;
        padding-bottom: 56px;        
    }
    .recommend-item {
        //2 card一排
        width: 48%;
        .recommend-body {
            //text padding
            padding: 16px 24px;            
        }
    }
}
@include phone {
    //padding改變
    .recommend {
        padding-top: 32px;
        padding-bottom: 40px;        
    }
    //前3 card有mb
    .recommend-list {
        & li:nth-child(-n+3) {
            margin-bottom: 16px;
        }
        .recommend-item {
            //單 card一排
            width: 100%;        
        }
    }    
}
//聯絡我們
    //form外容器 寬定
.contact-main {
    @include middle(730px, auto);    
    //說明文字大小設定
    .form-text {
        font-size: $font-size-md;        
    }
}
    //表單
.contact-form {    
    //lebel獨自一行 margin
    label {
        display: block;
        margin-bottom: 4px;
    }
    //input寬等於外容器 高 
    input {
        width: 100%;
        height: 50px;
        //placeholder 字體大小 padding
        &::placeholder {
            font-size: $font-size-base;
            padding-left: 16px;
          }
    }
    //意見反應 寬等於外容器 高 
    textarea {
        width: 100%;
        height: 136px;
        //placeholder 字體大小 padding
        &::placeholder {
            font-size: $font-size-base;
            padding-left: 16px;
            padding-top: 9px;
        }
    }
    //屬性過濾選擇器 同意欄 欄寬高 字體大小 padding
    input[type=checkbox] {
        font-size: $font-size-base;
        vertical-align: middle;	//對齊 框框和文字
        width: 24px;
        height: 24px;
    }
    //按鈕
    .btn {
        @include middle (350px, 54px);
        &:hover {
            background-color: $primary;
        }      
    }
}
    //平板rwd
@include pad {
    //form外容器 寬定
.contact-main {
    @include middle(450px, auto);    
    //說明文字大小設定
    .form-text {
        font-size: $font-size-base;        
    }
}
//表單
.contact-form {
    //字體變小
    font-size: $font-size-sm;
    //input寬等於外容器 高 
    input {        
        height: 36px;
        //placeholder 字體大小 padding
        &::placeholder {
            font-size: $font-size-sm;
            padding-left: 12px;
          }
    }
    //意見反應 寬等於外容器 高 
    textarea {        
        height: 100px;
        //placeholder 字體大小 padding
        &::placeholder {
            font-size: $font-size-sm;
            padding-left: 12px;
            padding-top: 8px;
        }
    }
    //屬性過濾選擇器 同意欄 欄寬高 字體大小 padding
    input[type=checkbox] {
        font-size: $font-size-sm;
        vertical-align: middle;	//對齊 框框和文字
        width: 17px;
        height: 17px;
    }
    //按鈕
    .btn {
        @include middle (210px, 40px);
        font-size: $font-size-sm;        
    }
}
}
    //手機rwd
@include phone {
    //form外容器 寬定
.contact-main {
    @include middle(365px, auto);    
    //說明文字大小設定    
}
//表單
.contact-form {    
    //按鈕
    .btn {
        @include middle (165px, 36px);        
    }
}
}
