.qa-list {
    //限制寬
    width: 83%;
    //文字縮排
    .qa-item p {
        margin-left: 8.55%;
    }
}
//平板rwd
@include pad {
    //外層padding
    .qa {
        padding-top: 60px;
        padding-bottom: 96px;
    }
    .qa-list {
        //限制寬
        width: 100%;
        //文字縮排
        .qa-item p {
            margin-left: 8.69%;
        }
    }
}
@include phone {
    //外層padding
    .qa {
        padding-top: 36px;
        padding-bottom: 81px;
    }
    .qa-list {
        //限制寬
        width: 100%;
        //文字縮排
        .qa-item p {
            margin-left: 0;
            font-size: $font-size-sm;
        }
    }
}