// 顏色
//背景色
.bg-primary {
    background-color: $secondary;
}
.bg-light {
	background-color: $light;
}
.opacity {
    opacity: 0.5;
}
//字色
.text-primary {
    color:$primary;
}
.text-light {
	color: $light-text;
}
.text-lighter {
    color: $lighter-text;
}
//字體大小
.font-sm {
    font-size: $font-size-sm;
}
// 間距
//margin
@for $i from 1 through 20 {
    .mb-#{$i}{
        margin-bottom: $i*0.25rem; //4px~
    } 
}
@for $i from 1 through 12 {
    .mr-#{$i}{
        margin-right: $i*0.25rem; //4px~
    } 
}
//padding
@for $i from 1 through 24 {
    .pt-#{$i} {
        padding-top: $i*0.25rem;
    }
}
@for $i from 1 through 40 {
    .pb-#{$i} {
        padding-bottom: $i*0.25rem;
    }
}
// flex
.d-flex {
    display: flex;
}
.flex-direction-c {
	flex-direction: column;
}
.justify-content-between {
	justify-content: space-between;
}
.justify-content-center {
	justify-content: center;
}
.justify-content-end {
	justify-content: flex-end;
}
.align-item-c {
	align-items: center;
}
.flex-wrap {
	flex-wrap: wrap;
}
//text-position
.text-align-r {
	text-align: right;
}
.text-align-l {
	text-align: lift;
}
.text-align-c {
	text-align: center;
}
//btn
.btn {
    font-family: $font-tw;
    font-size: 14px;
    font-weight: bold;	
	border: none;
    white-space: nowrap;
	
}
.btn-danger {
    background-color: $secondary;
}