//字型
$font-tw: "Noto Sans TC";
$font-en: Roboto;
//字體大小
$font-size-base: 1rem; //16px

$font-size-sm: $font-size-base*0.875; //14px
$font-size-md: $font-size-base*1.25; //20px
$font-size-xl: $font-size-base*1.5; //24px
$font-size-2xl: $font-size-base*1.75; //28px
$font-size-3xl: $font-size-base*2; //32px
$font-size-4xl: $font-size-base*2.25; //36px
$font-size-5xl: $font-size-base*3; //48px
$font-size-6xl: $font-size-base*4; //64px
$font-size-7xl: $font-size-base*4.5; //72px

$h2-font-size-xl: $font-size-base*4; //64px
$h2-font-size-md: $font-size-base*3; //48px
$h2-font-size-sm: $font-size-base*2; //32px

$h3-font-size-xl: $font-size-base*3; //48px
$h3-font-size-lg: $font-size-base*2; //32px
$h3-font-size-md:$font-size-base*1.75; //28px
$h3-font-size-sm: $font-size-base*1.5; //24px


$h4-font-size-xl: $font-size-base*1.5; //24px

$h5-font-size-xl: $font-size-base*2; //32px
$h5-font-size-md: $font-size-base*1.25; //20px

$h6-font-size-xl: $font-size-base*1.25; //20px
$h6-font-size-md: $font-size-base; //16px



// color
$primary: #650300;
$secondary: #AA0601;
$light: #FBF2F2;
$light-text: #ffffff;
$lighter-text: #707070


