@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.bg-primary {
  background-color: #AA0601; }

.bg-light {
  background-color: #FBF2F2; }

.opacity {
  opacity: 0.5; }

.text-primary {
  color: #650300; }

.text-light {
  color: #ffffff; }

.text-lighter {
  color: #707070; }

.font-sm {
  font-size: 0.875rem; }

.mb-1 {
  margin-bottom: 0.25rem; }

.mb-2 {
  margin-bottom: 0.5rem; }

.mb-3 {
  margin-bottom: 0.75rem; }

.mb-4 {
  margin-bottom: 1rem; }

.mb-5 {
  margin-bottom: 1.25rem; }

.mb-6 {
  margin-bottom: 1.5rem; }

.mb-7 {
  margin-bottom: 1.75rem; }

.mb-8 {
  margin-bottom: 2rem; }

.mb-9 {
  margin-bottom: 2.25rem; }

.mb-10 {
  margin-bottom: 2.5rem; }

.mb-11 {
  margin-bottom: 2.75rem; }

.mb-12 {
  margin-bottom: 3rem; }

.mb-13 {
  margin-bottom: 3.25rem; }

.mb-14 {
  margin-bottom: 3.5rem; }

.mb-15 {
  margin-bottom: 3.75rem; }

.mb-16 {
  margin-bottom: 4rem; }

.mb-17 {
  margin-bottom: 4.25rem; }

.mb-18 {
  margin-bottom: 4.5rem; }

.mb-19 {
  margin-bottom: 4.75rem; }

.mb-20 {
  margin-bottom: 5rem; }

.mr-1 {
  margin-right: 0.25rem; }

.mr-2 {
  margin-right: 0.5rem; }

.mr-3 {
  margin-right: 0.75rem; }

.mr-4 {
  margin-right: 1rem; }

.mr-5 {
  margin-right: 1.25rem; }

.mr-6 {
  margin-right: 1.5rem; }

.mr-7 {
  margin-right: 1.75rem; }

.mr-8 {
  margin-right: 2rem; }

.mr-9 {
  margin-right: 2.25rem; }

.mr-10 {
  margin-right: 2.5rem; }

.mr-11 {
  margin-right: 2.75rem; }

.mr-12 {
  margin-right: 3rem; }

.pt-1 {
  padding-top: 0.25rem; }

.pt-2 {
  padding-top: 0.5rem; }

.pt-3 {
  padding-top: 0.75rem; }

.pt-4 {
  padding-top: 1rem; }

.pt-5 {
  padding-top: 1.25rem; }

.pt-6 {
  padding-top: 1.5rem; }

.pt-7 {
  padding-top: 1.75rem; }

.pt-8 {
  padding-top: 2rem; }

.pt-9 {
  padding-top: 2.25rem; }

.pt-10 {
  padding-top: 2.5rem; }

.pt-11 {
  padding-top: 2.75rem; }

.pt-12 {
  padding-top: 3rem; }

.pt-13 {
  padding-top: 3.25rem; }

.pt-14 {
  padding-top: 3.5rem; }

.pt-15 {
  padding-top: 3.75rem; }

.pt-16 {
  padding-top: 4rem; }

.pt-17 {
  padding-top: 4.25rem; }

.pt-18 {
  padding-top: 4.5rem; }

.pt-19 {
  padding-top: 4.75rem; }

.pt-20 {
  padding-top: 5rem; }

.pt-21 {
  padding-top: 5.25rem; }

.pt-22 {
  padding-top: 5.5rem; }

.pt-23 {
  padding-top: 5.75rem; }

.pt-24 {
  padding-top: 6rem; }

.pb-1 {
  padding-bottom: 0.25rem; }

.pb-2 {
  padding-bottom: 0.5rem; }

.pb-3 {
  padding-bottom: 0.75rem; }

.pb-4 {
  padding-bottom: 1rem; }

.pb-5 {
  padding-bottom: 1.25rem; }

.pb-6 {
  padding-bottom: 1.5rem; }

.pb-7 {
  padding-bottom: 1.75rem; }

.pb-8 {
  padding-bottom: 2rem; }

.pb-9 {
  padding-bottom: 2.25rem; }

.pb-10 {
  padding-bottom: 2.5rem; }

.pb-11 {
  padding-bottom: 2.75rem; }

.pb-12 {
  padding-bottom: 3rem; }

.pb-13 {
  padding-bottom: 3.25rem; }

.pb-14 {
  padding-bottom: 3.5rem; }

.pb-15 {
  padding-bottom: 3.75rem; }

.pb-16 {
  padding-bottom: 4rem; }

.pb-17 {
  padding-bottom: 4.25rem; }

.pb-18 {
  padding-bottom: 4.5rem; }

.pb-19 {
  padding-bottom: 4.75rem; }

.pb-20 {
  padding-bottom: 5rem; }

.pb-21 {
  padding-bottom: 5.25rem; }

.pb-22 {
  padding-bottom: 5.5rem; }

.pb-23 {
  padding-bottom: 5.75rem; }

.pb-24 {
  padding-bottom: 6rem; }

.pb-25 {
  padding-bottom: 6.25rem; }

.pb-26 {
  padding-bottom: 6.5rem; }

.pb-27 {
  padding-bottom: 6.75rem; }

.pb-28 {
  padding-bottom: 7rem; }

.pb-29 {
  padding-bottom: 7.25rem; }

.pb-30 {
  padding-bottom: 7.5rem; }

.pb-31 {
  padding-bottom: 7.75rem; }

.pb-32 {
  padding-bottom: 8rem; }

.pb-33 {
  padding-bottom: 8.25rem; }

.pb-34 {
  padding-bottom: 8.5rem; }

.pb-35 {
  padding-bottom: 8.75rem; }

.pb-36 {
  padding-bottom: 9rem; }

.pb-37 {
  padding-bottom: 9.25rem; }

.pb-38 {
  padding-bottom: 9.5rem; }

.pb-39 {
  padding-bottom: 9.75rem; }

.pb-40 {
  padding-bottom: 10rem; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-direction-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.justify-content-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.align-item-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.text-align-r {
  text-align: right; }

.text-align-l {
  text-align: lift; }

.text-align-c {
  text-align: center; }

.btn {
  font-family: "Noto Sans TC";
  font-size: 14px;
  font-weight: bold;
  border: none;
  white-space: nowrap; }

.btn-danger {
  background-color: #AA0601; }

body {
  font-family: Roboto, "Noto Sans TC", -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2; }

img {
  max-width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover; }

a {
  text-decoration: none;
  display: block; }

a:hover {
  opacity: 0.5; }

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px; }
  @media (max-width: 992px) {
    .container {
      max-width: 720px; } }
  @media (max-width: 768px) {
    .container {
      max-width: 375px; } }

.h2 {
  font-family: "Noto Sans TC";
  font-size: 4rem;
  color: #650300;
  font-weight: bold; }
  .h2 span {
    font-size: 2.25rem;
    font-weight: normal; }

.h3 {
  font-family: "Noto Sans TC";
  font-size: 3rem;
  font-weight: bold; }

.h4 {
  font-family: "Noto Sans TC";
  font-size: 1.5rem;
  color: #650300;
  font-weight: bold; }

.h5 {
  font-family: "Noto Sans TC";
  font-size: 2rem;
  font-weight: bold; }

.h6 {
  font-family: "Noto Sans TC";
  font-size: 1.25rem;
  font-weight: bold; }

@media (max-width: 992px) {
  .h2 {
    font-size: 3rem; }
    .h2 span {
      font-size: 1.25rem; }
  .h3 {
    font-size: 2rem; } }

@media (max-width: 768px) {
  .h2 {
    font-size: 2rem; }
    .h2 span {
      font-size: 1rem; }
  .h3 {
    font-size: 1.5rem;
    margin-bottom: 20px; }
  .h5 {
    font-size: 1.25rem; }
  .h6 {
    font-size: 1rem; } }

.header {
  font-size: 20px;
  padding: 30px 88px; }
  .header .h1 a {
    background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/logo.png?raw=true);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    width: 80px;
    height: 49px; }
  .header .nav li {
    margin-left: 64px; }
  .header .nav a {
    color: #ffffff;
    font-family: "Noto Sans TC"; }

@media (max-width: 992px) {
  .header {
    padding-left: 39px;
    padding-right: 39px; }
    .header .nav li {
      margin-left: 40px; } }

@media (max-width: 768px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .header .h1 a {
      width: 48px;
      height: 29px; }
    .header .nav li {
      text-align: center;
      width: 50%;
      margin-left: 0px;
      border: 1px solid #ffffff;
      padding-top: 8px;
      padding-bottom: 8px; } }

.footer {
  font-family: "Noto Sans TC", Roboto;
  padding: 32px 0px 39px 0px;
  color: #ffffff; }
  .footer a {
    color: #ffffff; }
  .footer .community {
    width: 30%; }
  .footer .community-hiden {
    display: none; }
  .footer .phone {
    width: 100%;
    font-size: 2.25rem; }
    .footer .phone .contact-img {
      max-width: 48px;
      max-height: 48px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
  .footer .mail {
    width: 100%;
    font-size: 2.25rem; }
    .footer .mail .contact-img {
      max-width: 48px;
      max-height: 48px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
  .footer .hr {
    width: 100%; }
  .footer .policy {
    font-size: 0.875rem; }

@media (max-width: 992px) {
  .footer {
    padding: 32px 0px 21px 0px; }
    .footer .footer-nav {
      margin-bottom: 16px; }
    .footer .footer-nav li:nth-child(-n+1) {
      margin-right: 40px; }
    .footer .community {
      margin-bottom: 16px; }
    .footer .community li {
      max-width: 24px;
      max-height: 24px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .footer .phone {
      width: 100%;
      margin-bottom: 12px;
      font-size: 1.25rem; }
      .footer .phone .contact-img {
        max-width: 24px;
        max-height: 24px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
    .footer .mail {
      width: 100%;
      margin-bottom: 20px;
      font-size: 1.25rem; }
      .footer .mail .contact-img {
        max-width: 24px;
        max-height: 24px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
    .footer .hr {
      width: 100%;
      margin-bottom: 24px; }
    .footer .policy li {
      margin-right: 24px; } }

@media (max-width: 768px) {
  .footer {
    padding-top: 25px;
    padding-bottom: 24px; }
    .footer .footer-nav {
      display: none; }
    .footer .phone {
      width: 50%;
      font-size: 1rem;
      margin-bottom: 6px; }
    .footer .community {
      display: none; }
    .footer .community-hiden {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .footer .community-hiden li {
      max-width: 24px;
      max-height: 24px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .footer .mail {
      font-size: 1rem;
      margin-bottom: 24px; }
    .footer .hr {
      margin-bottom: 16px; }
    .footer .copyright {
      font-size: 0.875rem;
      width: 100%;
      margin-bottom: 8px; }
    .footer .policy {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
    .footer .policy li {
      width: 100%;
      margin: 0px 0px 8px 0px; }
      .footer .policy li:nth-child(2) {
        margin: 0px; } }

.banner {
  max-width: 100%;
  height: 840px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner.png?raw=true); }
  .banner .banner-wrap {
    height: 840px; }

.service .service-item {
  width: 23%; }
  .service .service-item .service-item-img {
    max-width: 100px;
    max-height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto 16px; }
  .service .service-item p {
    text-align: left; }

@media (max-width: 992px) {
  .service {
    padding-top: 40px;
    padding-bottom: 56px;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .service .service-item {
      width: 40%; }
      .service .service-item:nth-child(-n+2) {
        margin-bottom: 32px; } }

@media (max-width: 768px) {
  .service {
    padding-top: 32px;
    padding-bottom: 40px; }
    .service .service-item {
      width: 100%; }
      .service .service-item:nth-child(-n+3) {
        margin-bottom: 32px; } }

.classical-item .classical-img {
  width: 57.2%;
  height: auto; }

.classical-text .classical-icon {
  max-width: 44px;
  max-height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.classical-text p {
  font-family: Roboto;
  font-style: italic;
  font-size: 2rem;
  font-weight: 900;
  color: #AA0601; }

@media (max-width: 992px) {
  .classical {
    padding-top: 40px;
    padding-bottom: 56px; }
  .classical-list li:nth-child(-n+2) {
    margin-bottom: 8px; }
  .classical-list li:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .classical-list li:nth-child(2) .classical-text {
      margin: 0; }
  .classical-list li .classical-img {
    margin-right: 30px; }
  .classical-text .classical-icon {
    max-width: 40px;
    max-height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .classical-text p {
    font-size: 1.75rem; } }

@media (max-width: 768px) {
  .classical {
    padding-top: 32px;
    padding-bottom: 40px; }
  .classical-list li {
    position: relative; }
    .classical-list li .classical-img {
      width: 80%;
      height: auto;
      margin: 0 auto; }
    .classical-list li .classical-text {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
      .classical-list li .classical-text .classical-icon {
        max-width: 40px;
        max-height: 40px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
      .classical-list li .classical-text p {
        font-size: 1.75rem; } }

.co-brand {
  max-width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/bg.png?raw=true); }
  .co-brand .h3 {
    color: #ffffff; }

.co-brand-item {
  width: 48%;
  background: #e7e4e4;
  position: relative; }
  .co-brand-item .co-brand-text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 4.5rem;
    color: #AA0601;
    font-weight: bold; }

@media (max-width: 992px) {
  .co-brand {
    padding-top: 40px;
    padding-bottom: 56px; }
    .co-brand .h3 {
      margin-bottom: 32px; }
  .co-brand-item .co-brand-text {
    font-size: 2rem;
    font-weight: bold; } }

@media (max-width: 768px) {
  .co-brand {
    padding-top: 32px;
    padding-bottom: 40px; }
    .co-brand .h3 {
      margin-bottom: 20px; }
  .co-brand-item {
    width: 100%; } }

.recommend-item {
  width: 23%;
  -webkit-box-shadow: 0px 2px 6px #00000029;
          box-shadow: 0px 2px 6px #00000029;
  border: 1px solid #DEE2E6;
  border-radius: 4px; }
  .recommend-item .recommend-img img {
    width: 100%; }
  .recommend-item .recommend-body {
    padding: 16px; }
    .recommend-item .recommend-body .recommend-date {
      font-family: "Noto Sans TC";
      font-size: 0.875rem;
      color: #707070; }

@media (max-width: 992px) {
  .recommend {
    padding-top: 40px;
    padding-bottom: 56px; }
  .recommend-item {
    width: 48%; }
    .recommend-item .recommend-body {
      padding: 16px 24px; } }

@media (max-width: 768px) {
  .recommend {
    padding-top: 32px;
    padding-bottom: 40px; }
  .recommend-list li:nth-child(-n+3) {
    margin-bottom: 16px; }
  .recommend-list .recommend-item {
    width: 100%; } }

.contact-main {
  width: 730px;
  height: auto;
  margin: 0 auto;
  display: block; }
  .contact-main .form-text {
    font-size: 1.25rem; }

.contact-form label {
  display: block;
  margin-bottom: 4px; }

.contact-form input {
  width: 100%;
  height: 50px; }
  .contact-form input::-webkit-input-placeholder {
    font-size: 1rem;
    padding-left: 16px; }
  .contact-form input::-moz-placeholder {
    font-size: 1rem;
    padding-left: 16px; }
  .contact-form input:-ms-input-placeholder {
    font-size: 1rem;
    padding-left: 16px; }
  .contact-form input::-ms-input-placeholder {
    font-size: 1rem;
    padding-left: 16px; }
  .contact-form input::placeholder {
    font-size: 1rem;
    padding-left: 16px; }

.contact-form textarea {
  width: 100%;
  height: 136px; }
  .contact-form textarea::-webkit-input-placeholder {
    font-size: 1rem;
    padding-left: 16px;
    padding-top: 9px; }
  .contact-form textarea::-moz-placeholder {
    font-size: 1rem;
    padding-left: 16px;
    padding-top: 9px; }
  .contact-form textarea:-ms-input-placeholder {
    font-size: 1rem;
    padding-left: 16px;
    padding-top: 9px; }
  .contact-form textarea::-ms-input-placeholder {
    font-size: 1rem;
    padding-left: 16px;
    padding-top: 9px; }
  .contact-form textarea::placeholder {
    font-size: 1rem;
    padding-left: 16px;
    padding-top: 9px; }

.contact-form input[type=checkbox] {
  font-size: 1rem;
  vertical-align: middle;
  width: 24px;
  height: 24px; }

.contact-form .btn {
  width: 350px;
  height: 54px;
  margin: 0 auto;
  display: block; }
  .contact-form .btn:hover {
    background-color: #650300; }

@media (max-width: 992px) {
  .contact-main {
    width: 450px;
    height: auto;
    margin: 0 auto;
    display: block; }
    .contact-main .form-text {
      font-size: 1rem; }
  .contact-form {
    font-size: 0.875rem; }
    .contact-form input {
      height: 36px; }
      .contact-form input::-webkit-input-placeholder {
        font-size: 0.875rem;
        padding-left: 12px; }
      .contact-form input::-moz-placeholder {
        font-size: 0.875rem;
        padding-left: 12px; }
      .contact-form input:-ms-input-placeholder {
        font-size: 0.875rem;
        padding-left: 12px; }
      .contact-form input::-ms-input-placeholder {
        font-size: 0.875rem;
        padding-left: 12px; }
      .contact-form input::placeholder {
        font-size: 0.875rem;
        padding-left: 12px; }
    .contact-form textarea {
      height: 100px; }
      .contact-form textarea::-webkit-input-placeholder {
        font-size: 0.875rem;
        padding-left: 12px;
        padding-top: 8px; }
      .contact-form textarea::-moz-placeholder {
        font-size: 0.875rem;
        padding-left: 12px;
        padding-top: 8px; }
      .contact-form textarea:-ms-input-placeholder {
        font-size: 0.875rem;
        padding-left: 12px;
        padding-top: 8px; }
      .contact-form textarea::-ms-input-placeholder {
        font-size: 0.875rem;
        padding-left: 12px;
        padding-top: 8px; }
      .contact-form textarea::placeholder {
        font-size: 0.875rem;
        padding-left: 12px;
        padding-top: 8px; }
    .contact-form input[type=checkbox] {
      font-size: 0.875rem;
      vertical-align: middle;
      width: 17px;
      height: 17px; }
    .contact-form .btn {
      width: 210px;
      height: 40px;
      margin: 0 auto;
      display: block;
      font-size: 0.875rem; } }

@media (max-width: 768px) {
  .contact-main {
    width: 365px;
    height: auto;
    margin: 0 auto;
    display: block; }
  .contact-form .btn {
    width: 165px;
    height: 36px;
    margin: 0 auto;
    display: block; } }

.qa-list {
  width: 83%; }
  .qa-list .qa-item p {
    margin-left: 8.55%; }

@media (max-width: 992px) {
  .qa {
    padding-top: 60px;
    padding-bottom: 96px; }
  .qa-list {
    width: 100%; }
    .qa-list .qa-item p {
      margin-left: 8.69%; } }

@media (max-width: 768px) {
  .qa {
    padding-top: 36px;
    padding-bottom: 81px; }
  .qa-list {
    width: 100%; }
    .qa-list .qa-item p {
      margin-left: 0;
      font-size: 0.875rem; } }

/*# sourceMappingURL=all.css.map */
